head
  meta charset="UTF-8"
  meta name="viewport" content="initial-scale=1, maximum-scale=1"
  link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
  link rel="stylesheet" href="css/bootstrap.css"
  link rel="stylesheet" href="css/style.css"

  script src="js/app.min.js"

body
  .bg-blue.p16
    .container
      .row
        .col-xs-12
          img src="assets/ss.svg" class="ss-logo"
          img src="assets/mnl.svg" class="mnl-logo"
  / .home-banner
  /   .container
  /     .row
  /       .col-xs-12
  /         .font-64.pt40.text-white.text-center.bold SERVICE SEEKING MANILA
  .blog.bg-gray-2
    .container.pt80.pb80
      .row
        .col-xs-12.col-sm-6.col-lg-4
          .font-40 Blogs
          p.font-16 Mus as eriorepratur atem. Alibusa ndaepel esciis molorec eptatib usaperum que nia id mos ipsam eaquidenis sequatur rem res
          .btn
  .container.pt80.pb80
    .row
      .col-xs-12
        .font-32.pb16 March 2017
        .row
          .col-xs-4
            .card.card-flat
              .card-content.card-pad-md
                .font-16.bold Announcements
              .card-content.card-pad-md.card-section
                .font-14 Content
                .font-14 Content
                .font-14 Content

